<launch>
    <machine name="local" address="localhost" default="true"/>


    <node name="Chisel" pkg="chisel_ros" type="ChiselNode" output="screen">
        <param name="chunk_size_x" value="5"/>
        <param name="chunk_size_y" value="5"/>
        <param name="chunk_size_z" value="5"/>
        <param name="truncation_scale" value="1"/>
        <param name="integration_weight" value="1.0"/>
        <param name="use_voxel_carving" value="true"/>
        <param name="use_color" value="false"/>
        <param name="carving_dist_m" value="0.05 "/>
        <param name="voxel_resolution_m" value="0.1"/>
        <param name="far_plane_dist" value="4.0"/>
        <param name="near_plane_dist" value="0.05"/>
        <param name="base_transform" value="/world"/>
        <param name="depth_image_transform" value="/camera"/>
        <param name="color_image_transform" value="/camera"/>
        <param name="fusion_mode" value="DepthImage"/>

	 <!-- camera type, Pinhole or Fisheye-->
        <param name="camera_type" value= "Pinhole"/>
        <!-- basic information for images-->
        <param name="image_width" value="376"/>
        <param name="image_height" value="240"/>
        <!-- Pinhole Parameter, if not pinhole can be ignored-->
        <param name="fx" value="172.194081783902" />
        <param name="fy" value="173.826907445785" />
        <param name="cx" value="184.506800407586" />
        <param name="cy" value="117.060384824099" />
        <!-- Fisheye Parameter, steps a degree, if not can be ignored-->
        <!-- <param name="degree_step" value="4"/> -->


        <param name="Depthimage_topic" value="/open_quadtree_mapping/depth"/>
        <param name="Colorimage_topic" value="/open_quadtree_mapping/reference"/>
        <param name="Odometry_topic" value="/vins_estimator/camera_pose"/>

    </node>
</launch>
